/.vs
/a.vcxproj
/ConsoleApplication2.sln
/ConsoleApplication2.vcxproj
/ConsoleApplication2.vcxproj.filters
/ConsoleApplication2.vcxproj.user
/UpgradeLog.htm
/UpgradeLog2.htm
/x64
ConsoleA.56cef12b/x64/Release/ConsoleApplication2.exe.recipe
ConsoleA.56cef12b/x64/Release/ConsoleApplication2.iobj
ConsoleA.56cef12b/x64/Release/ConsoleApplication2.ipdb
ConsoleA.56cef12b/x64/Release/ConsoleApplication2.log
ConsoleA.56cef12b/x64/Release/ConsoleApplication2.obj
ConsoleA.56cef12b/x64/Release/vc143.pdb
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/CL.command.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/Cl.items.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/CL.read.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/CL.write.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/ConsoleApplication2.lastbuildstate
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/link.command.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/link.read.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/link.secondary.1.tlog
ConsoleA.56cef12b/x64/Release/ConsoleA.56cef12b.tlog/link.write.1.tlog
